{% extends 'base.html' %}

		{% block headerid%}studentheader{% endblock %}
		{% block header_text %}Student name: {{ studentname }}{% endblock %}
		{% block form %}
		<h3 id="rubricheader">TODO Pull model into view</h3>
		<table border="1">
		<!-- TODO fix this so that it pulls from forms.py -->
			<tr>
				<th></th>
				<th></th>
				<th>Excellent</th>
				<th>Proficient</th>
				<th>Sub-par</th>
				<th>Abysmal</th>
			</tr>
			{{ form }}
			{{ form }}
			{{ form }}
			{{ form }}
		</table>

		{% endblock %}
		
	
		
		

						
