{% extends 'base.html' %}
		{% block headerid%}edclass{% endblock %}{% block header_text %}Choose a Class!{% endblock %}
		
		{% block form %}
		<form method="POST" action={{ class.name }}>
			<select name="edClass" id="classdropdown">
				{% for class in summerclasses %}
				<option name="{{ class.name }}">{{ class.name }}</option>
				{% endfor %}
			</select>
			<input name="submitbutton" type="submit" name="submit" value="Submit" id="classubmit">
			{% csrf_token %}
		</form>
		{% endblock %}
