<html>
	<head>
	<title>Assessment System</title>
	</head>
	<body>
		<h1>Assessment System</h1>
		<!--
		<h3 id="semester">Choose a Semester!</h3>
		

		-->			
		<h3 id="choosename">Choose a name</h3>
		<form method="POST" action={{ class.name }}>
			<select name="edClass" id="classdropdown">
				{% for student in students %}
				<option name="{{ student.name }}">{{ student.name }}</option>
				{% endfor %}
			</select>
			<input name="submitbutton" type="submit" name="submit" value="Submit" id="classubmit">
			{% csrf_token %}
		</form>
						
	</body>
	
</html>
