{% extends 'base.html' %}

		{% block headerid%}choosename{% endblock %}{% block header_text %}Choose a Name{% endblock %}
		
		{% block form %}
		<form method="POST" action={{ student.lnumber }}>
			<select name="studentnames" id="studentdropdown">
				{% for student in students %}
				<option value="{{ student.lnumber }}" id={{ student.lnumber }}>{{ student.firstname }} {{ student.lastname }}</option>
				{% endfor %}
			</select>
			<input name="submitbutton" type="submit" name="submit" value="Submit" id="studentsubmit">
			{% csrf_token %}
		</form>
		{% endblock %}
						
