{% extends 'rubricapp/base.html' %}


		{% block headerid%}semester{% endblock %}{% block header_text %}Choose a Semester!{% endblock %}
		
		{% block form %}
		<form method="POST" action={{ semester.text }}>
			<select name="semester" id="semesterdropdown">
				{% for semester in semestercode %}
				<option name="{{ semester.text }}" value="{{ semester.text }}">{{ semester }}</option>
				{% endfor %}
			</select>
			<input name="submitbutton" type="submit" name="submit" value="Submit" id="semestersubmit">
			{% csrf_token %}
		</form>
		{% endblock %}
