{% extends 'dataview/base.html' %}
	
	{% block headerid %}chooseassignmentid{% endblock %}
	{% block header_text %}Choose an assignment!{% endblock %}
	{% block form %}
    {% if assignments|length > 0 %}
	<form method="POST" action=>
		<select name="assignment" id="assignmentdropdown">
		{% for assignment in assignments %}
			<option name="{{ assignment.assignmentname }}">{{ assignment.assignmentname }}</option>
		{% endfor %}
		</select>
		<input name="submitbutton" type="submit" name="submit" value="Submit" id="assignmentsubmit">
		{% csrf_token %}
	</form>
    {% else %}
        <p>There are no assignments for this course</p>
    {% endif %}
	{% endblock %}