{% extends 'dataview/base.html' %}
		{% block headerid %}studentchoice{% endblock %}
		{% block header_text %}Standards View!{% endblock %}
		{% block form %}
		<form method="POST" action="">
			<select name="semestername" value="semesterdropdown" id="semestername">
					{% for semester in semesters %}
					<option value="{{ semester.text }}" id={{ semester.text }}>{{ semester.text }}</option>
					{% endfor %}
			</select>
		<input name="submitbutton" type="submit" name="submit" value="Submit" id="standardsubmit">
		{% csrf_token %}
		</form>
        <a href={% url 'dataview:rubric_standard_view' %} id="rubric_standard_view">See what rubrics use what standards</a>
		{% endblock %}
