{% extends 'dataview/base.html' %}
		{% block headerid %}studentchoice{% endblock %}
		{% block header_text %}Standards View!{% endblock %}
		{% block form %}
		<form method="POST" action="">
			<select name="standardsname" value="standardsdropdown" id="standardsname">
					{% for standard in standards %}
					<option value="{{ standard.name }}" id={{ standard.name }}>{{ standard.name }}</option>
					{% endfor %}
			</select>
		<input name="submitbutton" type="submit" name="submit" value="Submit" id="studentsubmit">
		{% csrf_token %}
		</form>
		{% endblock %}
