{% extends 'dataview/base.html' %}


		{% block headerid %}studentname{% endblock %}
		{% block header_text %}{{ student.firstname }} {{ student.lastname}}{% endblock %}
		{% block form %}
		<form method="POST" action="">
			<select name="rubricname" value="rubric">
			{% for rubricdataobj in rubricdataobjs %}
				<option value="{{ rubricdataobj.completedrubric }}" id={{ rubricdataobj.completedrubric }}>{{ rubricdataobj.completedrubric }}</option>
			{% endfor %}
			</select>
			<input name="submitbutton" type="submit" name="submit" value="Submit" id="rubricsubmit">
		{% csrf_token %}
		</form>
		{% endblock %}