{% extends "registration/base.html" %}

{% block form %}




<form method="post" action="{% url 'django.contrib.auth.views.password_change' %}">

		{{ form }} 
		{% csrf_token %}
<input type="submit" value="Submit" />
<input type="hidden" name="next" value="{% url 'rubricapp:home' %}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
<p><a href="{% url 'password_change' %}">Change password</a></p>

{% endblock %}
